// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

@import "~highlight.js/styles/atom-one-dark";

button[data-sharer] {
    color: #fff;
}

.test-css {
    padding: 5px;
    border: 2px solid blue;
}
